@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,800;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    background: white;




}

section h1 {
    padding-top: 100px;

}

.nav-link {
    background-color:white;



    text-decoration: none;
    list-style: none;

    display: flex;
    justify-content:center;
    margin-left: 100px;



    text-align:center;

}




#friends {
    background-color: yellow;
    font-size: 1.8em;

}

.row {
    display: flex;

}

.column {
    float: 33.33%;
    padding: 5px;
}

#friends h1 {
    display: flex;
    justify-content: center;
}


.button {


    
    color: black;
   

    text-decoration: none;

    font-size: 16px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    
    
  
    
}
#button{
    background-color:white;
    border: 5px solid white;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom:10px ;
    border-radius: 2em;

}


#details {
    background-color: ivory;
    list-style-type: none;
}

li {
    list-style-type: none;
}

#footer {
    background-color: black;
    color: white;
}


#details div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;


    list-style: none;
    text-decoration: none;


    cursor: pointer;
    letter-spacing: 0.5px;
     font-size: 1em;
    padding: 10px;



}
#footer>li,.nav-link>li{
    padding:10px;
}
